<h1>Cliente intero</h1>
<h2>Menu de opciones</h2>
<a href="/setNuevaContrasena"> 
    <button>
         Generar Contraseña
    </button>
</a>
<a href="/setDPI"> 
    <button>
         Generar nuevo DPI
    </button>
</a>
<a href="/setLicencia"> 
    <button>
         Generar nueva licencia
    </button>
</a>
<a href="/setActualizar"> 
    <button>
         Actualizar licencia
    </button>
</a>