<h1>Actualizar licencia</h1>

<form action="setActualizar" method="get" >
  Numero DPI:<br>
  <input type="text" name="dpi" size=20><br> 
  Tipo Licencia:<br>
  <select name="tipo">
    <option value="B">B</option>
    <option value="A">A</option>
  </select><br>
  <input type="submit" value="Actualizar licencia">
   <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>