<h1>Nueva licencia
</h1>

<form action="setLicencia" method="get" >
  Numero DPI:<br>
  <input type="text" name="dpi" size=20><br> 
  Tipo Licencia:<br>
  <select name="tipo">
    <option value="M">M</option>
    <option value="C">C</option>
  </select>
  <br>Ruta ESB:<br>
  <select name="esb">
    <option value="35.239.54.7">Grupo 2</option>
    <option value="35.184.41.20">Grupo 1</option>
    <option value="35.184.97.83">Grupo 3</option>
    <option value="35.193.113.191">Grupo 4</option>
    <option value="35.232.98.125">Grupo 5</option>
    <option value="35.232.40.193">Grupo 6</option>
    <option value="35.211.247.121">Grupo 7</option>
  </select> 

          <br>
          Consulta Microservicio
          <br>
          <select name="puerto">
            <option value="9006">interno</option>
            <option value="9005">externo</option>
          </select>
          <br>

  <input type="submit" value="Crear nueva licencia">
   <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>