<h1>Nueva licencia
</h1>

<form action="setLicencia" method="get" >
  Numero DPI:<br>
  <input type="text" name="dpi" size=20><br> 
  Tipo Licencia:<br>
  <select name="tipo">
    <option value="moto">M</option>
    <option value="carro">C</option>
  </select><br>
  <input type="submit" value="Crear nueva licencia">
   <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>