<h1>Nueva licencia
</h1>

<form action="setLicencia" method="get" >
  Numero DPI:<br>
  <input type="text" name="dpi" size=20><br> 
  Tipo Licencia:<br>
  <select name="tipo">
    <option value="M">M</option>
    <option value="C">C</option>
  </select>
  <br>Ruta ESB:<br>
  <select name="esb">
        <option value="35.239.54.7">Grupo 2</option> 
        <option value="35.184.41.20">Grupo 1</option> 
        <option value="35.193.113.191">Grupo 4</option> 
  </select> 
  <br>
  <input type="submit" value="Crear nueva licencia">
   <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>