<h1>Generar Contraseña DPI
</h1>

<form action="setNuevaContrasena" method="get" >
  DPI:<br>
  <input type="text" name="dpi" size=20><br> 
  correo:<br>
  <input type="text" name="correo" size=20><br>
  <input type="submit" value="Generar Clave">
   <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>