<h1>Bienvenido al Sistema de Actas de Divorcio</h1>

<form action="actaDivorcio" method="post" >
  DPI esposo:<br>
  <input type="text" name="dpiEsposo" size=20><br>
  DPI esposa:<br>
  <input type="text" name="dpiEsposa" size=20><br>
   Fecha:<br>
  <input type="date" name="fecha" min="1950-01-01"
                                  max="2019-11-31" >
  <br>Ruta ESB:<br>
  <select name="esb">
    <option value="35.239.54.7">Grupo 2</option>
    <option value="35.184.41.20">Grupo 1</option>
    <option value="35.184.97.83">Grupo 3</option>
    <option value="35.193.113.191">Grupo 4</option>
    <option value="35.232.98.125">Grupo 5</option>
    <option value="35.232.40.193">Grupo 6</option>
    <option value="35.211.247.121">Grupo 7</option>
  </select>
  <br>
  Consulta Microservicio
  <br>
  <select name="puerto">
    <option value="9006">interno</option>
    <option value="9003">externo</option>
  </select>
  <br>
  <input type="submit" value="Crear acta">
  <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>