<h1>Bienvenido al Sistema de actas de Defuncion</h1>

<form action="actaDefuncion" method="post" >
  DPI :<br>
  <input type="text" name="dpi" size=20><br>
  Fecha:<br>
  <input type="date" name="fecha" min="1950-01-01"
                                  max="2019-11-31">
  
  <br>Ruta ESB:<br>
  <select name="esb">
    <option value="http://ServiceBus:10000/post/comunicacionesb">Grupo 2</option> 
  </select>                              
  <br>
  <input type="submit" value="Crear acta">
 
  <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>
