<h3>Ingrese sus Datos</h3>

<form action="matrimonio" method="post">

    DPI Esposo:<br>
    <input type="text" name="dpiHombre"><br>
    DPI Esposa:<br>
    <input type="text" name="dpiMujer"><br>
    Fecha:<br>
    <input type="date" name ="fecha" min="01-01-1950" max="31-12-2019">
    <br>Ruta ESB:<br>
    <select name="esb">
        <option value="http://ServiceBus:10000/post/comunicacionesb">Grupo 2</option> 
    </select> 
    <br>
    <input type="submit" value="Agregar">
</form>
<a href="/">
    <button>regresar</button>
</a>

<h1>{{datos.resultado}}</h1>