<h3>Matrimonio</h3>

<form action="matrimonio" method="post">

    DPI Esposo:<br>
    <input type="text" name="dpiHombre"><br>
    DPI Esposa:<br>
    <input type="text" name="dpiMujer"><br>
    Fecha:<br>
    <input type="date" name ="fecha" min="01-01-1950" max="31-12-2019">
    <br>Ruta ESB:<br>
  
        <select name="esb">
            <option value="35.239.54.7">Grupo 2</option> 
            <option value="35.184.41.20">Grupo 1</option>
            <option value="35.193.113.191">Grupo 4</option>
        </select> 
    <br>  
    <br>
    <input type="submit" value="Agregar">
</form>
<a href="/">
    <button>regresar</button>
</a>

<h1>{{datos.resultado}}</h1>