<h3>Ingrese sus Datos</h3>

<form action="matrimonio" method="post">

    DPI Esposo:<br>
    <input type="text" name="dpiHombre"><br>
    DPI Esposa:<br>
    <input type="text" name="dpiMujer"><br>
    Fecha:<br>
    <input type="date" name ="fecha" min="01-01-1950" max="31-12-2019"><br>

    <input type="submit" value="Agregar">
</form>

<h1>{{datos.respuesta}}</h1>