<h1>{{title}}</h1>
<p> Matrimonio: {{title}}</p>

<form>
    DPI Esposo:<br>
    <input type="text" name="DPI"><br>
    DPI Esposa:<br>
    <input type="text" name="DPI"><br>
    Fecha:<br>
    <input type="text" name="DD-MM-AAAA"><br>
    Municipio:<br>
    <input type="text" name="NN"><br>
     Departamento :<br>
    <input type="text" name="NN"><br>
    <br>
    <input type="submit" value="Agregar">
</form>
 