<h1>Bienvenido al Sistema de actas de nacimiento 
</h1>

<form action="actaNacimiento" method="post" >
  DPI Papa:<br>
  <input type="text" name="dpiPapa" size=20><br>
  DPI Mama:<br>
  <input type="text" name="dpiMama" size=20><br>
  Apellidos:<br>
  <input type="text" name="apellidos" size=20><br>
  Nombre:<br>
  <input type="text" name="nombres" size=20><br>
  Genero:<br> 
  <select name="genero">
    <option value="M">M</option>
    <option value="F">F</option>
  </select><br>
  Fecha:<br>
  <input type="date" name="fecha" min="1950-01-01"
                                  max="2019-11-31" step="2">
  <br>
  Departamento:<br>
   <select name="departamento">
    <option value="16">Alta Verapaz</option>
    <option value="15">Baja Verapaz</option>
    <option value="4">Chimaltenando</option>
    <option value="20">Chiquimula</option>
    <option value="2">el progreso</option>
    <option value="5">Escuitla</option>
    <option value="1">Guatemala</option>
    <option value="13">Huehuetenango</option>
    <option value="18">Izabal</option>
    <option value="21">Jalapa</option>
    <option value="22">Jutiapa</option>
    <option value="17">Peten</option>
    <option value="9">Quetzaltenango</option>
    <option value="14">Quiche</option>
    <option value="11">Retalhuelo</option>
    <option value="3">Sacatepequez</option>
    <option value="12">San Marcos</option>
    <option value="6">Santa Rosa</option>
    <option value="7">Solola</option>
    <option value="10">Suchitepequez</option>
    <option value="8">Totonicapan</option>
    <option value="19">Zacapa</option>
  </select>
  <br>
  Municipio:<br>
  <input type="text" name="municipio" size=20>
  <br>Ruta ESB:<br>
  <select name="esb">
    <option value="35.239.54.7">Grupo 2</option>
    <option value="35.184.41.20">Grupo 1</option>
    <option value="35.184.97.83">Grupo 3</option>
    <option value="35.193.113.191">Grupo 4</option>
    <option value="35.232.98.125">Grupo 5</option>
    <option value="35.232.40.193">Grupo 6</option>
    <option value="35.211.247.121">Grupo 7</option>
  </select>  
  <br>
  Consulta Microservicio
      <br>
      <select name="puerto">
        <option value="9006">interno</option>
        <option value="9000">externo</option>
      </select> 
      <br>    

  <input type="submit" value="Crear acta">
 
  <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>