<h1>Bienvenido al Sistema de actas de nacimiento</h1>

<form action="actaNacimiento" method="get" >
  DPI Papa:<br>
  <input type="text" name="dpiPapa" size=20><br>
  DPI Mama:<br>
  <input type="text" name="dpiMama" size=20><br>
  Apellidos:<br>
  <input type="text" name="apellidos" size=20><br>
  Nombre:<br>
  <input type="text" name="nombres" size=20><br>
  Genero:<br> 
  <select name="genero">
    <option value="Maculino">M</option>
    <option value="Femenino">F</option>
  </select><br>
  Fecha:<br>
  <input type="date" name="fecha" min="1950-01-01"
                                  max="2019-11-31" step="2">
  <br>
  Departamento:<br>
   <select name="departamento">
    <option value="alta verapaz">Alta Verapaz</option>
    <option value="baja verapaz">Baja Verapaz</option>
    <option value="chimaltenando">Chimaltenando</option>
    <option value="chiquimula">Chiquimula</option>
    <option value="el progreso">el progreso</option>
    <option value="escuintla">Escuitla</option>
    <option value="guatemala">Guatemala</option>
    <option value="huehuetenango">Huehuetenango</option>
    <option value="izabal">Izabal</option>
    <option value="jalapa">Jalapa</option>
    <option value="jutiapa">Jutiapa</option>
    <option value="peten">Peten</option>
    <option value="quetzaltenango">Quetzaltenango</option>
    <option value="quiche">Quiche</option>
    <option value="retalhuelo">Retalhuelo</option>
    <option value="sacatepequez">Sacatepequez</option>
    <option value="san marcos">San Marcos</option>
    <option value="santa rosa">Santa Rosa</option>
    <option value="solola">Solola</option>
    <option value="suchitepequez">Suchitepequez</option>
    <option value="totonicapan">Totonicapan</option>
    <option value="zacapa">Zacapa</option>
  </select>
  <br>
  Municipio:<br>
  <input type="text" name="municipio" size=20><br>
  <input type="submit" value="Crear acta">
 
  <h1 style="color:blue;">{{datos.resultado}}</h1>
</form>
 <a href="/">
  <button >regresar</button>
</a>